*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter;
}

body{
background:#0a0a0a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 10%;
border-bottom:1px solid #222;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav a{
color:#aaa;
text-decoration:none;
}

nav a:hover{
color:white;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:120px 10%;
}

.hero h1{
font-size:56px;
}

.hero p{
margin-top:20px;
color:#aaa;
max-width:450px;
}

.profile{
width:220px;
border-radius:50%;
border:3px solid #3b82f6;
}

.buttons{
margin-top:25px;
}

.primary{
background:#2563eb;
padding:12px 24px;
border-radius:8px;
color:white;
text-decoration:none;
}

.secondary{
border:1px solid #333;
padding:12px 24px;
border-radius:8px;
color:white;
text-decoration:none;
margin-left:10px;
}

section{
padding:90px 10%;
}

h2{
margin-bottom:30px;
}

.card{
background:#111;
padding:25px;
border-radius:12px;
margin-bottom:20px;
border:1px solid #222;
}

#repo-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.project{
background:#111;
padding:25px;
border-radius:12px;
border:1px solid #222;
}

.terminal{
background:black;
padding:20px;
border-radius:10px;
font-family:JetBrains Mono;
}

#terminal-input{
width:100%;
margin-top:10px;
background:black;
border:none;
color:white;
}

footer{
text-align:center;
padding:40px;
border-top:1px solid #222;
color:#777;
}
